1. Set the variable test1 to the
string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [5]:
test1='This is a test of the emergency text system,'
with open('test.txt', 'wt') as outfile:
    outfile.write(test1)
    outfile.close()

2.  Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [9]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()
test2

'This is a test of the emergency text system,'

3
Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [10]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

In [21]:
with open('books.csv', 'rt') as infile:
    test2 = infile.read()
test2

'title,author,year\nThe Weirdstone of Brisingamen,Alan Garner,1960\nPerdido Street Station,China Miéville,2000\nThud!,Terry Pratchett,2005\nThe Spellman Files,Lisa Lutz,2007\nSmall Gods,Terry Pratchett,1992\n'

4.  Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [20]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')

In [19]:
db.commit()

5.  Read books.csv and insert its data into the book table.

In [22]:
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [23]:
db.commit()

6.  Select and print the title column from the book table in alphabetical order

In [30]:
sql = 'select title from book '
for row in db.execute(sql):
    print(row[0])

The Weirdstone of Brisingamen
Perdido Street Station
Thud!
The Spellman Files
Small Gods

7.  From the book table, select and print all columns in the order of publication.

In [37]:
sql = 'select * from book '
for row in db.execute(sql):
    print(*row, sep=', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007
Small Gods, Terry Pratchett, 1992

8.  Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6

In [39]:
import sqlalchemy    
"""  SQLAlchemy is a library that facilitates the communication between Python programs and databases. 
     Most of the times, this library is used as an Object Relational Mapper (ORM) tool that translates 
     Python classes to tables on relational databases and automatically converts function calls to SQL statements."""
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book '
rows = conn.execute(sql)
for row in rows:
    print(row)

('The Weirdstone of Brisingamen',)
('Perdido Street Station',)
('Thud!',)
('The Spellman Files',)
('Small Gods',)

9.  Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [40]:
pip install redis

Collecting redis
  Downloading redis-4.4.0-py3-none-any.whl (236 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 redis-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis
conn = redis.Redis 
conn.delete('test1')

In [ ]:
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

10.  Increment the count field of test and print it

In [ ]:
conn.hincrby('test', 'count', 3)

In [ ]:
conn.hget('test', 'count')